*{
    padding: 0;
    margin: 0;
}
.nav-cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30%;
  padding: 30px;
  box-shadow: 0px 4px 5px #00000048;
}
.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
  list-style: none;
  font-size: 18px;
}
.nav-link,
.nav-link:visited {
  text-decoration: none;
  color: #797979;
  font-weight: 700;
}
.nav-link:hover{
    color: black;
}
